JWT_SECRET=<your JWT secret for user auth>
LINE_AUTH_SECRET=<your JWT secret for line notify auth>
LINE_CLIENT_ID=<your Line notify client id>
LINE_CLIENT_SECRET=<your line notify client secret>
LINE_REDIRECT_URI=<your line notify redirect URI>
FRONTEND_ORIGIN=<前端網域>
PORT=<本地運行的port>
FREQUENCY=<對591請求的頻率> //請使用cron的格式，建議最少以分鐘為單位
TEST_ACCOUNT=<測試帳號> //如果有設置測試帳號