<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      height: 100vh;
    }

    div {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  </style>
  <title>Rent Helper</title>
</head>

<body>
  <div>
    <h2>連動成功！</h2>
    <h3>請關閉此頁面回到Rent Helper新增你的搜尋條件</h3>
  </div>
</body>

</html>